* {
}

body {
	background-color:pink;
}

.well {
	top:10vh;
	background-color:purple;
	border-radius:10% 10% 5% 5%;
	padding-left:2vw;
}

.btn {
	width:7vw;
	height:2em;
	font-size:2vw;
	margin-top:1em;
	border-radius:13%;
	text-align:center;
}

.row {
	margin-left:.8vw;
}


.label-default {
	text-align:right;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	min-height:15vh;
	font-size:7vmin;
	padding-top:4vmin;
	margin-bottom:5vh;
	margin-left:-.3vw;
	border:1px solid #333;
}

